@page
@model Unilib.Pages.EditPages.EditBookModel
@using Unilib.DatabaseUtil

<h1>Edit Book</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="Title" value="@Model.book.Title">
    </div>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <textarea class="form-control" id="genre" name="Genre">@Model.book.Genre</textarea>
    </div>
    <div class="form-group">
        <label for="publicationdate">Publication Date:</label>
        <textarea class="form-control" id="PublicationDate" name="PublicationDate">@Model.book.Publication_Date</textarea>
    </div>
    <button type="submit" class="btn btn-primary add-btn">Save</button>
    <a href="/MainPages/Book" class="btn btn-danger">Cancel</a>
</form>
