@page
@model Unilib.Pages.EditPages.ReturnBookModel
@using Unilib.DatabaseUtil

<h1>Return Book</h1>

<form method="post">
    <div class="form-group">
        <label for="returndate">Return Date:</label>
        <input type="text" class="form-control" id="returndate" name="ReturnDate"
               value="@(Model.borrowedBook.Return_Date == null ? DateOnly.FromDateTime(DateTime.Today) : Model.borrowedBook.Return_Date)" readonly>
    </div>
    <button type="submit" class="btn btn-primary add-btn">Save</button>
    <a href="/MainPages/Book_Student" class="btn btn-danger">Cancel</a>
</form>
