@page
@model Unilib.Pages.EditPages.ReturnBookModel
@using Unilib.DatabaseUtil

<h1>Return Book</h1>

<form method="post">
    <div class="form-group">
        <label for="returndate">Return Date:</label>
        <input type="text" class="form-control" id="returndate" name="ReturnDate" value="@DateOnly.FromDateTime(DateTime.Today)" readonly>
    </div>
    <button type="submit" class="btn btn-primary add-btn">Save</button>
    <a href="/MainPages/Student_Book" class="btn btn-danger">Cancel</a>
</form>
