@page
@model Unilib.Pages.AddPages.AddPublisherModel
@using Unilib.DatabaseUtil

<h1>Add Publisher</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="Name">
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <textarea class="form-control" id="address" name="Address"></textarea>
    </div>
    <div class="form-group">
        <label for="contactinfo">Contact Info:</label>
        <textarea class="form-control" id="contactinfo" name="ContactInfo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary add-btn">Add</button>
    <a href="/MainPages/Publisher" class="btn btn-danger">Cancel</a>
</form>
