@page
@using Unilib.Pages;

<div class="row">
    <div class="text-center">
        <a asp-page="./MainPages/Author" class="btn btn-primary">Authors</a>
        <a asp-page="./MainPages/Book" class="btn btn-primary">Books</a>
        <a asp-page="./MainPages/Publisher" class="btn btn-primary">Publishers</a>
        <a asp-page="./MainPages/Student" class="btn btn-primary">Students</a>
        <a asp-page="./MainPages/Book_Author" class="btn btn-primary">Book_Author</a>
        <a asp-page="./MainPages/Book_Publisher" class="btn btn-primary">Book_Publisher</a>
        <a asp-page="./MainPages/Book_Student" class="btn btn-primary">Book_Student</a>
    </div>
</div>
